/src/sorter/__pycache__/cleaner.cpython-34.pyc
/src/sorter/__pycache__/config.cpython-34.pyc
/src/sorter/__pycache__/engine.cpython-34.pyc
/src/sorter/__pycache__/__init__.cpython-34.pyc
/src/sorter/__pycache__/tee.cpython-34.pyc
/src/errors.log
/src/output.log
